
/* Palette URL: http://paletton.com/#uid=13-0u0kaVz84jP27qHbeJtFiHpX */

/* 
.color-base { color: #7793AE; } // Main Primary color
.color-base-lightest { color: #D8E2Ec; }
.color-base-lighter { color: #9DB3C8; }
.color-base-darker { color: #4F7192; }
.color-base-darkest { color: ##235275; }

.color-base-complement { color: #FFDCA8; }
.color-lightest-complement { color: #FFF6E8; }
.color-light-complement { color: #FFEACB; }
.color-darker-complement { color: #E1B372; }
.color-darkest-complement { color: #B5843E; }
*/

html, body, h1, h2, h3, p, ol, ul, li, a {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    background-image: url("swirled-tile-200w.png");
    background-repeat: repeat-y;
    background-color: #7793AE;

    padding: 10px 10px 10px 160px ;
    
    font-family: sans-serif;
    font-weight: bold;
    color: #235275;
}
p {
    padding-top: 3px;
    padding-bottom: 3px;
}

input {
    outline: none;
    box-sizing: border-box;

    padding: 4px;

    border: 4px solid color-base-darker;
    border-color: #235275;
    border-radius: 4px;

    color: #235275;
    background-color: #D8E2Ec;
    margin-bottom: 10px;
    
    width: 80px;

    font-size: 30px;
    font-weight: bold;

    text-align: center;

}


button {
    cursor: pointer;
    outline: none;

    display: inline-block;

    border: none; 
    border-radius: 8px;

    background-color: #4F7192;
    color: #D8E2Ec;

    padding: 10px 20px;

    text-align: center;
    text-decoration: none;

    font-size: 20px;
}
button:hover{
    background-color: #235275;
    color: #D8E2Ec;
}
button:active{
    transform: translateY(2px);
}






