

.color-primary-0 { color: #7793AE }
.color-primary-1 { color: #C2D0DE }
.color-primary-2 { color: #9DB3C8 }
.color-primary-3 { color: #587999 }
.color-primary-4 { color: #3E6386 }



.button {
    background-color: #99ccff;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.button:hover{
    background-color: #5588bb;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

